:root {
	--color-bg: rgb(225, 222, 243);
	--color-text: #00000;
	--color-button-bg: rgb(155, 152, 172);
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: 'Helvetica', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	box-sizing: border-box;
	overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}