:root {
	--color-bg: #e1def3;
	--color-text: #00000;
	--color-error: #da3434;
	--color-dark-lilac: #b3b0ca;
	--color-dark-lilac-2: #cfcce6;
	--color-darker-lilac: #65627c;
	--color-darkest-lilac:#464458;

	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: "Inter Light", sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	box-sizing: border-box;
	overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
}
